{% extends 'users/users_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content2 %}
    {% if user.is_authenticated %}
       <div class="container center">
            <h1 class="tm-site-title mt-5">You are Already Logged In. </h1>
            <p class="text-white mb-5"><a href="{% url 'users:login' %}" class="click-login">Back Home</a></p>
       </div>
    {% else %}
        <form method="post" class="tm-login-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group mt-4">
            <button
              type="submit"
              class="btn btn-primary btn-block text-uppercase"
            >
              Login
            </button>
          </div>
          <a class="forgot-password-link" href="{% url 'users:password_reset' %}">Forgot Password?</a>
        </form>
        <div class="center mt-4">
            <a class="login-link" href="{% url 'users:register' %}">Sign Up Insted?</a>
        </div>
    {% endif %}


{% endblock content2 %}