{% extends "users/users_base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load widget_tweaks %}

{% block content2 %}
       {%if not form.new_password1 %}
            <div class="container center">
                <h1 class="tm-site-title mt-5">This Link is Dead.</h1>
                <p class="text-white mb-5"><a href="{% url 'users:login' %}" class="click-login">OK</a></p>
            </div>
        {% else %}
            <form method="post" class="tm-login-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.new_password1|add_class:"form-control"|as_crispy_field }}
                  </div>
                   <div class="form-group">
                    {{ form.new_password2|add_class:"form-control"|as_crispy_field }}
                   </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      Reset Password
                    </button>
                  </div>
            </form>
        {% endif %}
{% endblock content2 %}