{% extends "users/users_base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load widget_tweaks %}

{% block content2 %}
       <form method="post" class="tm-login-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.email|add_class:"form-control"|as_crispy_field }}
          </div>
          <div class="form-group mt-4">
            <button
              type="submit"
              class="btn btn-primary btn-block text-uppercase"
            >
              Request Password Reset
            </button>
          </div>
       </form>
{% endblock content2 %}

